/* Aldrich for keys */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Alegreya:ital@0;1&display=swap');
/* Quantico for display font */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
/* Press Start 2P for page font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Tektur for text on calculator body */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tektur&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url('images/repeated-square.webp');

}

.title {
    font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: #FC0 1px 0 10px;

}

.calculate {
    font-family: 'Press Start 2P','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: #3c9c51 1px 0 10px;

}

.calculator-body {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 700px;
    margin: 50px;
    margin-bottom: 100px;
    background-image: url('images/micro_carbon.png');
    border-color:#0e0e11;
    border-width: 20px;
    border-radius: 10px;
    border-right-style: groove;
    border-bottom-style: groove;
    border-top-style: solid;
    border-left-style: solid;
    box-shadow: 0 8px 16px 0 #00000033;
}

.above-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;


}

.company {
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 30px;
}

.solar-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.solar-panel {
    background-color: #331515;
    width: 200px;
    height: 50px;
    border-width: 10px;
    border-right-color:#000000;
    border-bottom-color: #000000;
    border-right-style: groove;
    border-bottom-style: groove;
    border-top-style: solid;
    border-top-color: #252525;
    border-left-style: solid;
    border-left-color: #252525;

}

.solar-text {
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 10px;
}
.model {
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 14px;
}

.display {
    align-self: center;
    background-color: #819681;
    height: 200px;
    width: 600px;
    border-width: 10px;
    border-right-color:#000000;
    border-bottom-color: #000000;
    border-right-style: groove;
    border-bottom-style: groove;
    border-top-style: solid;
    border-top-color: #252525;
    border-left-style: solid;
    border-left-color: #252525;
}

.display-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding-right: 30px;
    height: 200px;
    font-family: 'Quantico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110px;
    text-overflow: ellipsis;
    overflow:hidden;

}
/*overall button area*/
.button-area {
    justify-self: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;



}

/*top row of buttons*/
.top-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;



}

/*each top button*/
.top {
    font-family: 'Aldrich', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #80001cc0;
    color: aliceblue;
    font-size: 50px;
    padding: 20px;
    border-radius: 10px;
}

.top:active {
    background-color: #420110;
    color: #6e7377
}

/*area with numbers & operators*/
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;


}

.number {
    font-family: 'Aldrich', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: #252525;
    font-size: 30px;
    padding: 40px 20px;
    border-radius: 10px;
}

.number:active {
    background-color: #6e7377;
    color: #000000;
}

.operator, .decimal {
    font-family: 'Aldrich', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: goldenrod;
    color: aliceblue;
    font-size: 30px;
    padding: 40px 20px;
    border-radius: 10px;
}

.operator:active, .decimal:active {
    background-color: rgb(122, 93, 20);
    color:#6e7377
}
